[Desktop Entry]
Categories=Develop;Qt;Settings;
Type=Application
Name=unik_v3.31.4
Exec=AppRun %F
Icon=default
Comment=Unik Qml Engine by Unikode.org
Terminal=true
