[Desktop Entry]
Categories=Qt;Settings;
Type=Application
Name=unik_v5.3.5
Exec=AppRun %F
Icon=default
Comment=Unik Qml Engine by Unikode.org
Terminal=true
