[Desktop Entry]
Categories=Qt;Settings;
Type=Application
Name=unik_v6.32.26
Exec=AppRun %F
Icon=default
Comment=Unik Qml Engine by Unikode.org
Terminal=true
