[Desktop Entry]
Categories=Qt;Settings;
Type=Application
Name=unik_v3.50.6
Exec=AppRun %F
Icon=default
Comment=Unik Qml Engine by Unikode.org
Terminal=true
